<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Jorge Acetozi - Ebook Chat App</title>

	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="screen,projection" />
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Jorge Acetozi - Ebook Chat App</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
        <li class="active"><a href="/chat" th:text="#{menu.chatrooms}">Chat Rooms</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}">Language</a>
          <ul class="dropdown-menu">
          	<li><a id="english" href="?lang=en" th:text="#{menu.language.english}">English</a></li>
            <li><a id="portuguese" href="?lang=pt" th:text="#{menu.language.portuguese}">Portuguese</a></li>
          </ul>
        </li>
        <li class="dropdown" sec:authorize="isAuthenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span sec:authentication="name"></span></a>
          <ul class="dropdown-menu">
          	<li><a id="newChatRoom" href="#" data-toggle="modal" data-target="#newChatRoomModal"  th:text="#{menu.new.chatrooms}" sec:authorize="hasRole('ROLE_ADMIN')">New Chat Room</a></li>
          	<li><a href="/logout" th:text="#{menu.logout}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section layout:fragment="content">
    <p>Page content here</p>
</section>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" layout:fragment="script">
</script>
</body>
</html>
